<style>
  .icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }
  .home-single-product {
    margin-top: 4rem;
  }
  .main-image {
    overflow: hidden;
  }
  </style>
  
  <%- include('navbar') %>
  <div class="home-single-product" data-aos="zoom-in-right">
    <!-- content -->
    <section class="py-5">
      <div class="container">
        <div class="row gx-5">
          <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center main-image">
                <img id="image-view" style="max-width: 100%; max-height: 60vh; margin: auto; cursor: pointer;" class="rounded-4 fit" src="../../<%= product.productImage[0]%>" />
            </div>
            <div class="d-flex justify-content-center mb-3">
              <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big1.webp" class="item-thumb">
                <% product.productImage.forEach((img, index) => { %>
                <a>
                  <div class="product-image-min " width="60" height="60" onclick="changeImage('<%= img.replace(/\\/g, '\\\\')%>')">
                    <img width="100" height="100" style="cursor: pointer;" class="rounded-2" src="../../<%= img %>" alt="">
                  </div>
                </a>
                <% }) %>
              </a>
            </div>
          </aside>
          <main class="col-lg-6">
            <div class="ps-lg-3">
              <h4 class="title text-dark">
                <%= product.productName %>
              </h4>
              <div class="d-flex flex-row my-3">
                <div class="text-warning mb-1 me-2">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                  <span class="ms-1">4.5</span>
                </div>
              </div>
              <div class="mb-3">
                <span class="h5">
                  <i class="bi bi-currency-rupee"></i>
                  <%= product.productPrice %>
                </span>
              </div>
              <p class="text-danger fs-4">
                <% if (product.productQuantity <= 20 && product.productQuantity > 0) { %>
                  Only <%= product.productQuantity %> left
                <% } else if (product.productQuantity <= 0) { %>
                  Out of stock
                <% } %>
              </p>
              <p><%= product.productDescription %></p>
              <a href="#" class="btn btn-warning shadow-0">Buy now</a>

              <!-- <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%=user %>')" 
                class="btn btn-primary shadow-0"><i class="me-1 fa fa-shopping-basket"></i>Add to cart</a> -->
                <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%= user %>')" 
                  class="btn btn-primary shadow-0"><i class="me-1 fa fa-shopping-basket"></i>Add to cart</a>
               
            </div>
          </main>
        </div>
      </div>
    </section>
  </div>
  
  <%- include('similarproduct') %>
  <%- include('footer') %>
  
  <!------------------------------------ image zoom when the mouse hover ------------------------------>
  <script>
    const imageContainer = document.getElementsByClassName('main-image')[0];
    const productImg = document.getElementById('image-view');
  
    imageContainer.addEventListener("mousemove", (e) => {
      const rect = e.target.getBoundingClientRect();
      const x = (e.clientX - rect.left) / rect.width;
      const y = (e.clientY - rect.top) / rect.height;
      productImg.style.transformOrigin = `${x * 100}% ${y * 100}%`;
      productImg.style.transform = "scale(1.3)";
    });
  
    imageContainer.addEventListener("mouseleave", () => {
      productImg.style.transformOrigin = "center";
      productImg.style.transform = "scale(1)";
    });
  
    async function changeImage(src) {
      productImg.src = `../../${src}`;
    }
  </script>
  